@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<TP3.Models.ViewModels.UserViewModel>
<div class="text-center">
    <h2 class="display-4">Listado de cadetes</h2>
</div>

<div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Nivel Autorización</th>
        </tr>
        @foreach (var elemento in Model)
        {
            <tr>
                <td>@elemento.UserId</td>
                <td>@elemento.Name</td>
                <td>@elemento.Email</td>
                <td>@elemento.UserType</td>
            </tr>     
        }
    </table>
</div>