@{
    ViewData["Title"] = "View";
}

@model IEnumerable<SystemEntities.MenuOptions>

<nav class="navbar navbar-expand-lg navbar-light bg-light">    
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">tp032021_br1595</a>
   
    <div class="navbar-nav">
      @foreach (var elemento in Model)
    {
        <a class="nav-item nav-link" asp-controller="@elemento.Control1" asp-action="@elemento.Url"><li>@elemento.Name</li></a>
    }
    </div>
  </div>
</nav>
<ul>

    
</ul>