@{
    ViewData["Title"] = "View";
}

@model IEnumerable<tp03.Models.Entities.MenuOptions>

<nav class="navbar navbar-expand-lg navbar-light bg-light">    
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TP03</a>
   
    <div class="navbar-nav">
      @foreach (var element in Model)
    {
        <a class="nav-item nav-link" asp-controller="@element.Controller" asp-action="@element.Url"><li>@element.Name</li></a>
    }
    </div>
  </div>
</nav>
<ul>

    
</ul>